#root {
  margin: 0;
}

@media print {
  body * {
    visibility: hidden;
  }

  .printable, .printable * {
    visibility: visible;
  }

  .printable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .no-print {
    display: none !important;
  }
}
